* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-links {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.img {
  position: absolute;
  left: 10px;
}

.nav-links.open {
  display: block;
  background-color: rgb(3, 26, 83);
}

.burger {
  display: none;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(194, 84, 4);
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: rgb(3, 26, 83);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
  position: fixed;
  top: 0px;
  gap: 500px;
  z-index: 999;
  padding: 0 20px;
  animation: header;
  animation-duration: 1.5s;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.159);
}

a {
  text-decoration: none;
  color: rgb(194, 84, 4);
  font-size: 14px;
  transition: 1s ease;
}

a.Home,
a.about,
a.ex,
a.pr,
a.cm {
  justify-content: center;
  align-content: center;
  transition: 1s ease;
}

a:hover {
  font-size: 15px;
  transition-duration: 1s;
  transform: scale(1.1);
}

div img.me {
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

div h1 {
  padding-top: 100px;
  width: 600px;
  animation-duration: 1.5s;
  animation: first;
  font-size: 50px;
  color: rgb(3, 26, 83);
  font-family: "Kaushan Script";
}

div h2 {
  color: rgb(255, 106, 0);
  display: flex;
  animation: first;
  justify-content: center;
  padding-top: 100px;
}

div p {
  padding-top: 160px;
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  font-size: 35px;
}

.p b {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 span {
  font-size: 20px;
}

a.btn.btn-primary {
  display: flex;
  justify-content: center;
  padding-right: 32px;
}

.About {
  padding-top: 0px;
  text-align: center;
  color: rgb(3, 26, 83);
}

.card-img-top {
  width: 236px;
}

.card-text {
  font-size: 15px;
  padding-top: 9px;
  width: 230px;
  font-family: "Karma", serif;
}

img {
  width: 90px;
}

.maincard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-card {
  background-color: rgba(0, 0, 0, 0.511);
}

.main-btn {
  background-color: rgb(0, 72, 255);
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  transition: 1s ease;
}

.main-btn:hover {
  background-color: rgb(3, 26, 83);
  width: 175px;
  color: rgb(194, 84, 4);
  transform: scale(1.1);
}

.first {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.511);
}

.Experience {
  background-color: rgba(0, 0, 0, 0.511);
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#Experience {
  margin-top: 0px;
}

.project-card {
  background-color: #d8cdcd2c;
  border: 1px solid #fff;
  min-height: 14em;
  width: 23em;
  border-radius: 10px;
  margin: 20px;
  transition: 0.7s ease;
}

.main-project {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.159);
  justify-content: space-evenly;
}

.names {
  display: flex;
  background-color: rgba(0, 0, 0, 0.159);
  justify-content: center;
}

div.project-info {
  display: flex;
  justify-content: center;
}

.img-project1 {
  background-size: contain;
  width: 100%;
  height: 500px;
}

.project-card:hover {
  transform: scale(1.1);
}

.card-img-top2 {
  width: 216px;
}

.card-text1 {
  padding-top: 76px;
  width: 230px;
  font-family: "Karma", serif;
  font-size: 15px;
}

.card-img-top1 {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
  width: 250px;
}

.instegram,
.facebook,
.gmail,
.github,
.linced-in {
  transition: 1s ease;
}

.instegram:hover,
.facebook:hover,
.gmail:hover,
.github:hover,
.linced-in:hover {
  transition-duration: 1s;
  transform: scale(1.1);
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.main-contact {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.511);
}

@keyframes header {
  from {
    height: 0px;
  }
  to {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0px;
    width: 100px;
  }

  .nav-links.open {
    display: flex;
  }

  .burger {
    display: block;
    /* display: flex; */
    /* justify-content: flex-end; */
    margin-right: auto;
  }
}

@media (max-width: 502px) {
  header a {
    font-size: 10px;
  }

  .About {
    padding-right: 70px;
    width: 150px;
  }

  .maincard {
    padding-left: 40px;
  }
}

@media (max-width: 390px) {
  a:hover {
    width: 80px;
    font-size: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 431px) {
  a:hover {
    width: 55px;
    font-size: 10px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
